<div class="container mt-5">
  <div class="row">
    <div class="col-lg-6 offset-lg-3">
      <div class="card">
        <div class="card-body text-center">
          <span class="titulo">{{ titulo | uppercase }}</span>
          <form
            class="mt-5"
            [formGroup]="marcaForm"
            (ngSubmit)="agregarMarca()"
          >
            <div class="mb-3">
              <input
                formControlName="nombre"
                type="text"
                class="form-control form-control-lg"
                placeholder="Nombre"
              />
              <div
                class="text-danger"
                *ngIf="
								marcaForm.get('nombre')?.hasError('required') &&
								marcaForm.get('nombre')?.touched
                "
              >
                <span> El Nombre es requerido </span>
              </div>
            </div>
            <button class="btn btn-secondary btn-lg float-start" routerLink="/">
              Volver
            </button>
            <button
              class="btn btn-success btn-lg float-end"
              [disabled]="marcaForm.invalid"
              type="submit"
            >
              Aceptar
            </button>
          </form>
          <div class="mb-3"></div>
        </div>
      </div>
    </div>
  </div>
</div>
